<aside
  class="bg-zinc-700/30 p-4 flex flex-col h-full border-t-3 border-t-red-800 border-r border-gray-600 backdrop-blur-sm shadow-lg shadow-amber-300/25 z-1000"
>
  <div class="flex items-center space-x-3 p-6 mb-8 relative">
    <div class="image-logo absolute -left-6"></div>
    <div class="absolute right-6">
      <div class="text-amber-400 text-2xl font-bold">OSS!</div>
      <div class="text-xs border-l border-red-600 pl-1 text-gray-200">CONNECT. TRAIN. GROW</div>
    </div>
  </div>
  @if(!isLogin()){
  <div class="flex flex-col text-center text-xl font-bold mt-[70%] justify-center">
    <h3>Debes iniciar sesion</h3>
    <p>Para navegar</p>
  </div>
  } @else {
  <nav class="grow space-y-1">
    <a
      routerLink="/feed"
      routerLinkActive="text-red-600 font-bold bg-white/40 rounded-full hover:text-red-400 hover:font-bold"
      class="flex items-center w-fu space-x-3 p-3 rounded-br-xl hover:bg-red-700 hover:text-white transition-colors duration-300"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
      </svg>
      <span>Inicio</span>
    </a>
    <a
      routerLink="/profile"
      routerLinkActive="text-red-600 font-bold bg-white/40 rounded-full hover:text-red-400 hover:font-bold"
      class="flex items-center space-x-3 p-3 rounded-br-xl hover:bg-red-700 hover:text-white transition-colors duration-300"
    >
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
        />
      </svg>
      <span>Mi Perfil</span>
    </a>
    <!-- <a
      routerLink="/messages"
      routerLinkActive="bg-red-600 text-white font-semibold"
      class="flex items-center space-x-3 p-3 rounded-lg hover:bg-red-700 transition-colors duration-200"
    >
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"
        />
      </svg>
      <span>Messages</span>
    </a>
    -->
    @if(isAdmin()){
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="text-red-600 font-bold bg-white/40 rounded-full hover:text-red-400 hover:font-bold"
      class="flex items-center space-x-3 p-3 rounded-br-xl hover:bg-red-700 hover:text-white transition-colors duration-300"
    >
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M17 11c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1h4zm-6 0c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H7c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1h4zm-6 6c.55 0 1-.45 1-1v-5c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1h4zm6 0c.55 0 1-.45 1-1v-5c0-.55-.45-1-1-1H7c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1h4zm6 0c.55 0 1-.45 1-1v-5c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v5c0 .55.45 1 1 1h4z"
        />
      </svg>
      <span>Panel de Control</span>
    </a>
    }
  </nav>

  <div
    class="mt-auto p-4 bg-gray-600/30 rounded-xl flex flex-row gap-3 justify-center object-center items-center contain-layout"
  >
    @if(userImage()){
    <img
      [src]="userImage()"
      alt="User Profile"
      class="w-12 h-12 rounded-full border-4 border-yellow-500"
    />

    }
    <div class="flex flex-col">
      <div class="font-semibold text-amber-400 text-md">{{ userName() }}</div>
      <div class="text-sm text-gray-300">{{ userMartialArts() }}</div>
    </div>
  </div>
  }
</aside>
