<div
  class="fixed inset-0 z-9998 flex items-center justify-center bg-black/40 backdrop-blur-sm transition-all duration-300"
>
  <div class="relative flex flex-col items-center">
    <div
      class="loader-circle absolute w-44 h-44 border-2 border-amber-400 rounded-full opacity-20"
    ></div>
    <div
      class="loader-circle absolute w-44 h-44 border-2 border-red-600 rounded-full opacity-20 delay-75"
    ></div>

    <img
      src="https://res.cloudinary.com/drtikgxr8/image/upload/v1762241854/Adobe_Express_-_file_fpi0em.png"
      class="w-40 h-40 animate-pulse relative z-10"
      alt="Loading..."
    />
  </div>
</div>
