<nav class="text-xl w-[90%] items-center">
  <div class="flex justify-between flex-row items-center">
    <div class="flex items-center flex-col space-x-2 relative">
      <div class="image-logo"></div>
      <div
        class="text-xs absolute bottom-0 w-[150px] text-gray-400 font-medium ml-2 border-l border-red-600 pl-2 hidden sm:block"
      >
        CONNECT. TRAIN. GROW
      </div>
    </div>

    <div
      class="bg-red-800/25 border border-red-800 rounded-full backdrop-blur-sm z-50 justify-center shadow-lg shadow-amber-300/15"
    >
      <ul class="flex flex-row gap-5 py-2 px-2 justify-between">
        <li class="flex flex-row gap-1 items-center">
          <a
            routerLink="/feed"
            routerLinkActive="text-red-600 font-bold bg-white/80 rounded-full hover:text-red-400 hover:font-bold"
            class="flex items-center space-x-1 hover:text-amber-300 hover:font-semibold transition-colors duration-300 ease-in px-4 py-2"
          >
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
            </svg>            
          </a>
        </li>
        <li class="flex flex-row gap-1 items-center">
          <a
            routerLink="/profile/me"
            routerLinkActive="text-red-600 font-bold bg-white/80 rounded-full hover:text-red-400 hover:font-bold"
            class="flex items-center space-x-1 text-shadow-lg hover:text-amber-300 hover:font-semibold transition-colors duration-300 ease-in px-4 py-2"
          >
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
              />
            </svg>            
          </a>
        </li>
      </ul>
    </div>
    <!-- <button class="menu-btn" (click)="openMenu()" aria-label="Menu Hamburguesa">
      <span></span>
      <span></span>
      <span></span>
    </button> -->
    <!-- <div class="login-register"> -->
    @if(!isLogin()){
    <div
      class="flex rounded-full backdrop-blur-sm z-50 justify-center shadow-lg shadow-amber-300/15"
    >
      <button
        (click)="navigateRoute('/login')"
        class="rounded-l-full border-2 py-3 px-6 border-gray-600 bg-gray-400/30 transform hover:scale-95 transition-all duration-100 ease-in"
      >
        Ingresar
      </button>
      <button
        (click)="navigateRoute('/register')"
        class="rounded-r-full py-3 px-6 border border-amber-600 bg-amber-400/30 transform hover:scale-95 transition-all duration-100 ease-in"
      >
        Registro
      </button>
    </div>
    }
    <!-- <span class="user-welcome">Hola, {{ name() }}</span>
      <button class="principal-btn logout" (click)="logout()">Cerrar Sesion</button>
      -->
    <!-- </div> -->
  </div>
</nav>
