<div
  #splashContainer
  class="fixed inset-0 z-9999 flex flex-col items-center justify-center bg-black overflow-hidden"
>
  <!-- BACKDROP CINEMÁTICO -->
  <div class="absolute inset-0 bg-linear-to-b from-black via-black/80 to-red-900/20 backdrop-blur-xl"></div>

  <!-- CONTENIDO -->
  <div class="relative flex flex-col items-center">

    <!-- LOGO -->
    <div #logoContainer class="opacity-0 scale-75">
      <img
        src="https://res.cloudinary.com/drtikgxr8/image/upload/v1762241854/Adobe_Express_-_file_fpi0em.png"
        alt="Oss Logo"
        class="w-72 h-72 object-contain drop-shadow-[0_0_40px_rgba(255,180,0,0.25)]"
      />
    </div>

    <!-- TÍTULO CINEMÁTICO -->
    <div #textContainer class="mt-2 flex space-x-1 ">
      <span class="title-letter">O</span>
      <span class="title-letter">S</span>
      <span class="title-letter">S</span>
      <span class="title-letter">!</span>
    </div>

    <!-- SLOGAN -->
    <div #sloganContainer class="mt-3 overflow-hidden opacity-0">
      <p class="text-sm text-gray-300 tracking-[0.5em] border-t border-red-600 pt-3">
        CONNECT. TRAIN. GROW.
      </p>
    </div>
  </div>
</div>
